*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 2310px;

}


/*--header--*/

.container-header{
    color: #FFFFFF;
    width: 1440px;
    height: 56px;
}

.container-header img{
    border-radius: 8px;
    margin-left: 144px;
}
.button {
    background-color: #FFFFFF;
    border: 1px solid;
    color: #656565;
    padding: 8px 24px 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    border-color:#DCDCDC;
    float:right
}
/*--main--*/
.container{
    margin: 165px;
    margin-top: 158px;
    margin-bottom: 357px;
    display: flex;
}

.container-left{
    width: 730px;
    height: 2096px;
    top: 158px;
    left: 165px;
}


.container-banner{
    background-image: url(img/banner.png);
    max-width: 100%;
    height: 304px;
    display: block;
    border-radius: 8px;
}

.container-banner img{
    width: 96px;
    height: 96px;
    margin: 24px;
    border-radius: 8px;
}
.info-banner{
    
    max-width: 100%;
    margin: 24px auto;
 

}
.Caterory-menu{
    height: 56px;
    margin-top: 24px;
}
.Caterory-menu ul{
    list-style: none;
    padding: 0;
}
.Caterory-menu ul li{
    float: left;
    line-height: 56px;
    margin-right: 24px ;
    
}
.Caterory-menu ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #808080;
    display: block;
}

.container-cetagoryA{
    margin: 0;
}

.Product-list{
    height: 748px;
    display: flex;
}
.Product-left{
    width: 45%;
    flex-basis: 40%;
  
}

.item-Product-left{
    width: 350px;
    height: 144px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0;
    color: #DCDCDC;
    margin: 24px 0;
}
.Product-info-left{
    width: 190px;
    height: 86px;
    padding: 24px;
    float: left;
}
.item-Product-left img{
    border-radius: 8px;
    float: right;
    margin: 24px 24px;
    width: 96px;
    height: 96px;
}

.Product-right{
    flex-basis: 40%;
    float: right;
    margin-right: 0;
    width: 45%;
    padding-left: 50px;
}

.Product-info-right{
    width: 190px;
    height: 86px;   
    float: left;
    

}
.item-Product-right{
    border: 1px solid;
    border-radius: 8px;
    color: #DCDCDC;
    width: 350px;
    height: 144px;
    padding:24px;
    margin-top: 24px;
    
    
    

}
.item-Product-right img{
    float: right;
    width: 96px;
    height: 96px;
    margin: 0;
    border: 1px solid;
    border-radius: 8px;
}

.Product-list-B{
    width: 730px;
    height: 748px;
    display: flex;
}

.ProductB-left {
    width: 350px;
    height: 748px;
    flex-basis: 40%;
}
.ProductB-right{
    flex-basis: 40%;
    float:right;
    padding-left: 24px;
}


/*------------Sidebar----------------*/
.Sidebar{
    width: 350px;
    height: 565px;;
    flex-basis: 25%;
    margin-left: 30px;
    border: 1px solid;
    border-radius: 8px;
    color: #DCDCDC;
}

.Pickup{
    margin: 24px;
    border: 1px solid;
    border-radius: 8px;
    width: 300px;
    height: 48px;
    color: #DCDCDC;
}
.container-buy-amount-A{
    padding: 4px;
}

.item-cartA{
    width: 302px;
    height: 94px;
    margin-bottom: 16px;
    display: flex;  
}


.cart-item-info{
    width: 148px;
    height: 94px;
}
.item-name{
    color: #222222;
    size: 16px;
    line-height: 24px;
    margin-left: 8px;   
    font-weight: 600;
}

.item-name ul {
    list-style: none;
    padding: 0;

}
.item-name ul li{
    size: 14px;
    color: #808080;
    font-weight: 400;
  
}

.buy-amount-A button {
    line-height: 24px;
    cursor: pointer;
}
.price{
    line-height: 24px;
    size: 16px;
    color: #222222;
    font-weight: 400;
 
}

.buy-amount-A amount {
    width: 40px;   
}
.item-cartA .buy-amount .price{
    flex: 25%;

}
.item-cartA .item-name{
    flex: 45%;
}

.minus-A{
    background: #F5F5F5;
    width: 16px;
    height: 16px;
    border-radius: 55%;
    border: none;
}
.plus-A{
    background: #F5F5F5;
    width: 16px;
    height: 16px;
    border-radius: 55%;
    border: none;
}
.cart-fees{
    width: 302px;
    height: 24px;
    margin: 24px ;
}

/*----footer----*/
.container-footer {
    background-color: #F5F5F5;
    height: 198px;
    width: 100%;
    padding: 48px, 144px, 48px, 144px;

}
.footer-logo{
    margin-left: 144px;
    padding-top: 48px;
    color: #808080;
    width: 177px;
    height: 32px;
    font-size: 24px;
    margin-bottom: 16px;
}

.footer-content{ 
    margin-left: 144px;
    padding-top: 16px;

}

.text a{
    text-decoration: none;
    margin: 0;
}

.footer-links{
    width: 235px;
    height: 22px;
 

}
.footer-links p{
    float: left;
    padding-right: 15px;
    margin: 0;
}

.footer-links a{
    text-decoration: none;
}
